name: Build and Push Execution Service

on:
  push:
    branches:
      - main
    paths:
      - 'invoke-execution/**'

permissions:
  contents: read
  packages: write

jobs:
  execution:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/build-push-action@v5
        with:
          context: ./invoke-execution
          file: ./invoke-execution/Dockerfile
          push: true
          tags: |
            ghcr.io/${{ github.repository }}/execution:latest
