name: Build and Push Admin Service

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - master
    paths:
      - 'invoke-admin/**'
      - '.github/workflows/img-admin.yml'

permissions:
  contents: read
  packages: write

jobs:
  admin:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/build-push-action@v5
        with:
          context: .
          file: ./invoke-admin/Dockerfile
          push: true
          tags: |
            ghcr.io/${{ github.repository }}/admin:latest
