name: Build and Push Gateway Service

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - master
    paths:
      - 'invoke-gateway/**'
      - '.github/workflows/img-gateway.yml'

permissions:
  contents: read
  packages: write

jobs:
  gateway:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/build-push-action@v5
        with:
          context: ./invoke-gateway
          file: ./invoke-gateway/Dockerfile
          push: true
          tags: |
            ghcr.io/${{ github.repository }}/gateway:latest
